body {
    color: #603D43;
    background-color: #FFF3E5;
    font-family: 'Red Hat Display', sans-serif;
}

nav {
    background-color: #5F7346;
}

a {
    color: #FFF3E5;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #C7AE92;
    text-decoration: underline;
}

.header-title {
    margin-top: 6rem;
    width: 70rem;
}

.btn-primary {
    border: none;
    background-color: #6D8CBB;
}

.btn {
    border: none;
}

.garden-main {
    margin-top: 2rem;
    padding: 5rem;
    width: 60rem;
    height: 20rem;
    border-radius: 0.5rem;
    background-color: #9AB874;
}

.plot {
    background-color: #8E5C47;
    border-radius: 0.2rem;
    color: #FFF3E5;
    padding: 0.5rem 2rem 2rem 0.8rem;
    width: 20rem;
}

.plot:hover {
    background-color: #B0968B;
}

/* Sidebar CSS */

.wrapper {
    width: 100%;
    align-items: stretch;
    display: flex;
    background-color: #F5E3CD;
    color: #603D43;
    position: fixed;
    top: 25rem;
    height: 100rem;

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    padding: 2rem;
}

.sidebar-section {
    margin-left: 6rem;
    margin-right: 6rem;
}

.plant-element,
.person-element,
.task-element {
    background-color: white;
    padding: 1rem 3rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.task-box {
    background-color: #AB8E81;
    padding: 2rem;
    border-radius: 0.5rem;
}

.components {
    display: flex;
    text-align: center;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*List of Gardens*/
.garden-element {
    background-color: #F5E3CD;
    margin: 1.5rem;
    padding: 1rem 14rem 1rem 2rem;
    border-radius: 0.5rem;
}

.date {
    color: #5F7346;
}

.description {
    color: black;
    font-weight: 500;
}

.garden-title {
    text-align: center;
}